body {
  font-family: SF Pro Rounded, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  box-sizing: border-box;
}

a {
  color: #00001B;
  text-decoration: none;
  font-weight: 600;
}

.Container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* index page */

.Hero {
  background: url('../images/bgHero.png');
  height: 920px;
  background-size: cover;
  background-position: center;
}

.HeroImage {
  display: flex;
  background-color: #00001B;
  border-radius: 15px;
  width: 60%;
  height: 50%;
}

.HeroImage .Code {
  background-color: #292941;
  width: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.HeroImage .Tabs {
  width: 30%;
}

.HeroImage .Tabs .Tab {
  color: white;
  display: flex;
  align-items: center;
  background-color: #292941;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 25px;

  position: relative;
  top: 30px;
  right: 40px;
  margin-top: 25px;
}

.HeroImage .Tabs .Tab:nth-child(2) {
  background-color: #3C3C5C;
}

.HeroImage .Tabs .Tab p {
  margin: 0 0 0 10px;
  font-weight: 600;
}

.HeroImage .Code .ProjectName {
  display: flex;
  align-items: center;
  margin: 15px 25px;
  color: white;
  font-size: 18px;
}

.HeroImage .Code .ProjectName p {
  margin-left: 10px;
}

.HeroGroup {
  display: flex;
  align-items: center;
  height: 100%;
}

.HeroText {
  width: 40%;
  margin: 0 60px 0 0;
}

.HeroText h1 {
  margin: 0;
}

.HeroText h3 {
  font-weight: 500;
  margin: 0;
}

.HeroText p {
  margin-bottom: 0;
}

.LinkGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.LinkGroup .Social {
  display: flex;
  align-items: center;
  font-size: 25px;
  background: #3C3C5C;
  padding: 10px 15px;
  margin: 20px 20px 0 0;
  color: white;
  border-radius: 5px;
}

.LinkGroup .Social a {
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

@media (max-width: 1199.98px) {
  .Hero {
    background: white;
  }

  .HeroGroup {
    justify-content: center;
    flex-direction: column;
  }

  .HeroText {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .HeroText p {
    margin: 20px auto;
    max-width: 500px;
  }

  .HeroImage {
    margin-top: 25px;
    width: 65%;
  }

  .LinkGroup {
    justify-content: center;
  }

  .LinkGroup .Social {
    margin: 0 10px;
  }
}

@media (max-width: 991.98px) {
  .HeroImage {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .HeroImage {
    display: none;
  }
}

@media (max-width: 576px) {
}